
.contain{
 border: 1px solid black;
 margin: 10px auto;
 border-radius: 10px;
 width: 450px;
text-align: start;
padding-left: 20px;
 background-color: white;
 
 
}

.form{
  margin: 10px auto !important ;

}
.delbtn{
  cursor: pointer;
}

.updatebtn{
  cursor: pointer;
}
.btn1{
  background-color: rgb(156, 7, 44);
  border-radius: 10px;
  color:white;
  width: 250px;
  font-size: 22px   
}